In [ ]:
if(True):
  print("hello")

hello

In [ ]:
age=1
if(age>10):
  print('my age is less than 1')
else:
  print('hhy')

hhy

In [ ]:
age=21
if(age>5 and age<20):
  print('regex')
else:
  print('priyanshi')

priyanshi

In [ ]:
num=6
if(num%2==0 and num%5==0):
  print('number is divisible by 5')
else:
  ('number is not divisible by 5')

In [ ]:
age=16
if(age==16):
  print("age is 16")
elif(age==18):
  print('age is 18')
else:
  print('age is not 18 or 16')

age is 16

In [ ]:
num=10
if(num%2==0):
  print('number is divided by 2')
elif(num%5==0):
  print('number is divided by 5')
else:
  print('number is not divided by both')

number is divided by 2

In [ ]:
num=4
num2= 3
num3 =1
if(num<num2 and num<num3):
  print('num is smallest')
elif(num2<num and num2<num3):
  print('num2 is smallest')
else:
  print('num3 is smallest')

num3 is smallest

In [ ]:
age=55
if(age>10 and age<24):
  print('adult')
elif(age>24 and age<35):
  print('young')
elif(age>35 and age<60):
  print('married')
elif(age>60):
  print('senior citizen')
else:
  print('child')

married

In [ ]:
age=55
if(age>60):
  print('senior citizen')
elif(age>35):
  print('married')
elif(age>24):
  print('young')
elif(age>10):
  print('adult')
else:
  print('child')

married

In [ ]:
age=12
if(age>10):
  print('age is greater than 10')
  if(age>15):
   print('age is greater than 10 and 15')
else:
  print('age is smaller than 10')

age is greater than 10

In [ ]:
num=16
if(num%2==0):
  if(num%5==0):
    print('number is divided by 2 and 5')
  else:
      print('number is divided by 2')
else:
  print('not divided by both')

number is divided by 2

In [ ]:
age=30
if(age>18):
  if(age>25):
    print('he is eligible for marriage and voting')
  else:
      print('eligible for voting')
else:
  print('condition not satisfied')

he is eligible for marriage and voting

In [6]:
num=int(input('n='))
if (num % 2 == 0):
    print("n is even.")
else:
    print("n is odd.")

n=4
n is even.

In [7]:
num=int(input('number 1='))
num2=int(input('number 2='))
num3=int(input('number 3='))
if(num>num2 and num>num3):
  print('num is largest')
elif(num2>num and num2>num3):
  print("num2 is largest")
else:
  print("num3 is largest")

number 1=5
number 2=3
number 3=7
num3 is largest

In [10]:
year = 2098
if(year%4==0 and year%100!=0) or (year%400==0):
  print("year is leap year")
else:
  print("year is not leap year")

year is not leap year

In [11]:
num=int(input("percentage = "))
if(num>= 90):
  print("grade a")
elif(num>=80 and num<=90):
  print("grade b")
elif(num>=70 and num<=80):
  print("grade c")
elif(num>=60 and num<=70):
  print("grade d")
else:
  print("grade f")

percentage = 76
grade c

In [14]:
letter=input("enter a character: ")
if(letter == 'a' or letter == 'e' or letter == 'i' or letter == 'o' or letter == 'u'):
  print("letter is vowel")
else:
  print("letter is consonant")

enter a character: r
letter is consonant

In [17]:
num1 = float(input("Enter the first number: "))
operator = input("Enter an operator: ")
num2 = float(input("Enter the second number: "))
if(operator == '+'):
    result = num1 + num2
    print(f"{result}")
elif(operator == '-'):
    result = num1 - num2
    print(f"{result}")
elif(operator == '*'):
    result = num1 * num2
    print(f"{result}")
elif operator == '/':
    if num2 != 0:
        result = num1 / num2
        print(f"{result}")
    else:
        print("error")
else:
    print("not supported")

Enter the first number: 8
Enter an operator: -
Enter the second number: 6
2.0

In [19]:
number=int(input("enter a number: "))
if(number>0):
    print("The number is positive.")
elif(number<0):
    print("The number is negative.")
else:
    print("The number is zero.")

enter a number: 5
The number is positive.

In [20]:
price=int(input("enter a price: "))
if(price>1000):
  print("discount is 10%")
elif(price>500 and price<1000):
  print("discount is 5%")
else:
  print("no discount")

enter a price: 4589
discount is 10%